LANG=en
HOST=127.0.0.1
PORT=8000
DAYOFF_API_KEY=
DAYOFF_BASE_URL=https://tracker.day-off.app/Dayoff
DAYOFF_TIMEOUT_SECONDS=30
TEAMS_WEBHOOK_URL=
SHAREPOINT_SITE_URL=https://<tenant>.sharepoint.com/sites/<site-name>
SHAREPOINT_DIRECTORY=
SHAREPOINT_CLIENT_ID=
SHAREPOINT_CLIENT_SECRET=
SHAREPOINT_TENANT_ID=
SHAREPOINT_CERT_FINGERPRINT=
SHAREPOINT_PRIVATE_KEY=